* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "montserrat";
  background-color: #ececec;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}
.header-box {
  margin: 16px;
  padding: 13px;
  text-align: center;
  font-size: 1.5rem;
  color: #6B6B6B;

}
.header{
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
.header-box .header-time{
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.2);

  transition: all 0.4s ease-out;
}
.header-box .header-day{
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 1px 2px rgba(20, 20, 20, 0.2);
  padding:1rem;
  transition: all 0.4s ease-out;
}




.container {
  height: 75vh;
  width: 300px;
  border: solid 1px #000563 ;
  border-radius: 5px;

  background-color:#cfcfcf ;
  margin: 0px 30px;
  overflow: hidden;
}
.box {
  margin: -20px 17.5px 0px 17.5px;
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: center;
}
.InputArea {
  height: 20%;
  margin: 10% 10%;
  align-items: center;
  width: 90%;
  padding: 1rem;
}
.InputArea input {
  margin: 10px;
  background-color: #acacac;
  border-radius: 3px;
  border : 2px dashed #6B6B6B;
  
  font-size: 1rem;
  color: #4B4B6B;
  letter-spacing: 0.025rem;
  padding: 5px;
  outline: none;
  text-align: center;
  transition: all 0.4s ease;
}
.InputArea input:focus{
  border: 2px dotted transparent;
  border-bottom: solid #6B6B6B;
}
.InputBtn {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #6B6B6B;
  font-family: Courier New;
  font-weight: 900;
  padding: 1rem;
  background-color: #EAEAEB;
  -webkit-box-shadow: 1px 1px 20px 0 #B8B8B8;
  -moz-box-shadow: 1px 1px 20px 0 #B8B8B8;
  box-shadow: 1px 1px 20px 0 #B8B8B8;
  text-shadow: 1px 1px 20px #000000;
  border: solid #ffffff 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.InputBtn:hover {
  background: #F3F1F8;
  color: #9166FF;
  text-decoration: none;
}

.Items {
  height: auto;
  width: 70%;
  margin: 0.5rem auto;
  font-size: 1rem;
  color:#5477F5;
  align-items: left;
  padding: 1rem;
  border: 1.5px solid #FFFCF5;
  border-radius: 16px;
  box-shadow: 2px 2px rgba(50, 50, 70, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  

}
.Items li {
  list-style: none;
  transition: all 0.4s ease-in-out;
}


.Done {
display: flex;
flex-wrap: wrap;
flex-direction: column;
}
.Done header{
  display: flex;
flex-wrap: wrap;
  flex-direction: row;
}

.add-animation{
animation: add-item ease 0.4s  0s 1  normal forwards;
  
}
@keyframes add-item {
  from{
    margin-top: -20px;
  }
  to{
    margin-top: 0px;
  }
  
}
.container-header{
  height: 20%;
  width: 100%;
  display: flex;
  font-size: 1.35rem;
flex-wrap: wrap;
  flex-direction: row;
  margin: 20px 10px;
  align-items: center;
  justify-content: center;
}




